<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/SmartKitaPwa.webmanifest">
    <link rel="apple-touch-icon" size="128x128" href="/icons/icon128.jpg">
    <link rel="apple-touch-icon" size="256x256" href="/icons/icon128.png">
    <link rel="apple-touch-icon" size="512x512" href="/icons/icon512.png">
    <title>Smart Kita</title></head>
<body>
<div class="contaienr">
    <div class="start_view">
        <div class="top">
            <div class="back"></div>
            <div class="back"></div>
            <div class="back"></div>
            <div class="back"></div>
            <div class="back"></div>
            <div class="back"></div>
        </div>
        <div class="middle">
            <div class="first">
                <div class="title">Mein<br>Sprachlerntagebuch</div>
            </div>
            <div class="second hide">
                <div class="title">Ich heiße</div>
                <div class="inputField text"><input type="text" required><span class="command">Bitte eintragen</span>
                </div>
                <div class="title">Geburtsdatum</div>
                <div class="inputField date">
                    <span>
                        <select required name="day">
                            <option>Tag</option>
                        </select>
                    </span>
                    <span>
                        <select required name="month">
                            <option>Monat</option>
                        </select>
                    </span>
                    <span>
                        <select required name="year">
                            <option>Jahr</option>
                        </select>
                    </span>
                    <!--<input type="date" max="2021-06-25" min="2014-01-01" required>-->
                    <span class="command">Bitte eintragen</span>
                </div>
            </div>
            <div class="third hide">
                <div class="button_back" onclick="getBack()">zurück</div>
                <div class="title">Hallo <span data-id="name">{{name}}</span>!<br>Bitte wähle ein Thema aus:</div>
                <div class="button_row">
                    <div class="button theme" data-theme="mag1">Das mag’ ich gern</div>
                    <div class="button theme" data-theme="mag2">Das mach ich gern</div>
                </div>
                <div class="button_row">
                    <div class="button theme" data-theme="Lieblingsorte">Da bin ich gern</div>
                    <div class="button theme" data-theme="Freunde">Meine Freunde, meine <br>Freundinnen und ich</div>
                </div>
                <div class="button_row">
                    <div class="button theme" data-theme="Zeichen">Zeichen, Buchstaben, Zahlen<br>und Symbole, die ich
                        kenne
                    </div>
                    <div class="button theme" data-theme="Kritzeln">Kritzeln und Schreiben</div>
                </div>
            </div>
        </div>
        <div class="button_holder">
            <div class="first">
                <div class="button" id="start">START</div>
            </div>
            <div class="second  hide">
                <div class="button" id="checkFields">OK</div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>

    <div class="fourthscreen hide">
        <div class="title_block">
            <div class="button_back" onclick="getBack()">zurück</div>
            <div class="text"><span data-id="theme_text">{{theme_text}}</span></div>
            <div class="name_age_date"><span><span data-id="name">{{name}}</span></span><span><span data-id="age">{{age}}</span> J.</span><span><span
                    data-id="date">{{date}}</span></span></div>
        </div>
        <div class="choose_block">
            <div class="paint"><img src="./draw.jpg?1" loading="lazy" alt=""></div>
            <div class="photo"><img src="./photo.jpg?1" loading="lazy" alt=""></div>
        </div>
    </div>
    <div class="camera" style="display: none;">
        <div class="camera_result" style="background:black">
            <div class="border">
                <button id="takePic"></button>
            </div>
        </div>
    </div>
    <div class="capture_result"></div>
    <div class="painter">
        <div class="control color_container">
            <ul>
                <li><span class="color" style="background-color:rgb(255,230,0);" data-color="rgb(255,230,0)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(255,153,0);" data-color="rgb(255,153,0)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(255,0,0);" data-color="rgb(255,0,0)"></span></li>
                <li><span class="color" style="background-color:rgb(137,59,15);" data-color="rgb(137,59,15)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(173,255,0);" data-color="rgb(173,255,0)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(14,168,58);" data-color="rgb(14,168,58)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(0,240,255);" data-color="rgb(0,240,255)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(0,76,255);" data-color="rgb(0,76,255)"></span></li>
                <li><span class="color" style="background-color:rgb(255,66,247);" data-color="rgb(255,66,247)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(119,36,254);" data-color="rgb(119,36,254)"></span>
                </li>
                <li><span class="color" style="background-color:rgb(141,141,141);" data-color="rgb(141,141,141)"></span>
                </li>
                <li><span class="color choosen" style="background-color:rgb(0,0,0);" data-color="rgb(0,0,0)"></span>
                </li>
            </ul>
        </div>
        <canvas id="risovach" style="width:100vw;height:100vh" width="800" height="400"></canvas>
        <div class="control buttonBox">
            <ul>
                <li><img id="drowSwitch" loading="lazy" src="./erase.png?1" alt="drowStitch"></li>
                <li><img id="save" loading="lazy" src="./save.png?1" alt="save"></li>
                <li><img id="clear" loading="lazy" src="./clear.png?1" alt="clear"></li>
            </ul>
        </div>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="./reset.css?1">
<link type="text/css" rel="stylesheet" href="./style.css?12">
<script src="./jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="./script.js?111"></script>
<script type="text/javascript" src="./jspdf/jspdf.min.js?1"></script>
</body>
</html>