@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body {
    font-family: 'Work Sans';
    background: white;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.start_view {
    height: 100vh;
    width: 100vw;
    background: #43a047;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start_view .top {
    display: flex;
    width: 100vw;
    height: 10%;
    flex-direction: row;
    flex: 0 1;
    flex-basis: 10%;
}

.start_view .middle {
    text-align: center;
    background: #43a047;
    flex: 0 1;
    flex-basis: auto;
}

.start_view .button_holder {
    text-align: center;
    background: #43a047;
    width: 100%;
    flex: 0 1;
    flex-basis: 10%;
}

.start_view .middle .title {
    color: #ffff00;
    font-weight: 600;
    font-size: 52px;
}

.start_view .bottom {
    background: #76d275;
    height: 10%;
    width: 100%;
    flex: 0 1;
    flex-basis: 10%;
}

.button {
    color: white;
    background: #4527a0;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    display: inline-block;
    width: 200px;
}

.start_view .top .back {
    height: 100%;
    background: #d673ef;
    flex: 0 1;
    flex-basis: auto;
    width: calc(100vw / 6);
}

.start_view .top .back:nth-of-type(2) {
    background: #59bcd0;
}

.start_view .top .back:nth-of-type(3) {
    background: #e5a448;
}

.start_view .top .back:nth-of-type(4) {
    background: #77f075;
}

.start_view .top .back:nth-of-type(5) {
    background: #d54949;
}

.start_view .top .back:nth-of-type(6) {
    background: #5a8de4;
}

.painter {
    display: none;
}

.control {
    position: fixed;
    border: 2px solid black;
    border-radius: 4px;
}

.color_container {
    left: 10px;
    top: 210px;
    transition: .5s;
}

.color_container.hide {
    display: block !important;
    left: -100px;
}

.buttonBox {
    right: 10px;
    top: 210px;
}

.buttonBox li {
    border-radius: 10px;
    overflow: hidden;
}

input {
    border: 2px solid #000070;
    font-size: 48px;
    color: white;
    font-weight: 400;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    outline: none;
    border-radius: 10px;
}

.inputField {
    max-width:80%;
    position: relative;
    margin:0 auto;
}

.inputField span.command {
    font-size: 18px;
    display: inline-block;
    color: white;
    position: absolute;
    bottom: -24px;
    left: calc(10px);
}

.inputField span.command.error {
    color: red;
    bottom: 10px;
}

.control ul {
    padding: 0;
    margin: 10px;
}

.control li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
}

.button_row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.third .title {
    margin-bottom: 40px;
    margin-top: 20px;
}

.third .button {
    width: 80%;
    margin-bottom: 20px;
    font-size: 30px;
    height: 100px;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.third .button * {
    flex: 0 1;
    flex-basis: auto;
}

.color_container li span.color {
    border-radius: 50%;
    border: 2px solid transparent;
    width: 30px;
    height: 30px;
    display: block;
    box-sizing: border-box;

}

.color_container li span.color.choosen {
    border-color: black;
}

.fourthscreen {
    text-align: center;
}

.fourthscreen .title_block {
    padding: 40px 0;
}

.fourthscreen .text {
    font-size: 36px;
}

.fourthscreen .name_age_date {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.fourthscreen .name_age_date span {
    flex: 0 1;
    flex-basis: auto;
}

.fourthscreen .choose_block > * {
    text-align: center;
    max-width: 300px;
    margin: 40px auto;
}

.fourthscreen.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.camera_result .border {
    border-radius: 50%;
    border: 1px solid #4527A0;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    z-index: 100;
    right: 0;
    left: 0;
    padding: 1px;
}

.camera_result .border button {
    border-radius: 50%;
    width: 46px;
    background: #4527A0;
    height: 46px;
    margin: 0 auto;
    display: block;
    border: 0;
}

@media screen and (max-width: 760px) {
    .start_view .middle .title {
        font-size: 32px;
        margin-top: 20px;
    }

    .third .button {
        font-size: 16px;
    }
}

.button_back {
    border: 1px solid #4527A0;
    color: #4527A0;
    background: transparent;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    text-transform: uppercase;
}

.third .button_back {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.fourthscreen .button_back {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}
select{
    border: 2px solid #000070;
    font-size: 48px;
    color: white;
    font-weight: 400;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    outline: none;
    border-radius: 10px;
}
.inputField.date{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap:wrap;
}
.inputField.date>div{
    flex:0 1;
    flex-basis:100%;
}
.inputField.date>span:not(.command){
    flex:0 1;
    flex-basis:33%;
}
.inputField.date span.command.error{
    bottom:-20px;
}
.select2-container{
    width:100%!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single{
    height:76px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 76px!important;
}
.select2-container--default .select2-selection--single{
    background-color: transparent!important;
    border: 2px solid #000070!important;
    border-radius: 10px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color:white!important;
    font-size: 18px!important;
    font-weight: 400!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent!important;
}